{
    background: #35363A;
    margin: 0;
  }

  #backgroundImage {
    border: none;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
  }

  [show-background-image] #backgroundImage {
    visibility: visible;
  }
body {
height: 400px;
background-image: url("descarga.jpg");
background-size: cover;
background-repeat:no-repeat;
background-position: center center;
}
fieldset {
  background-color: lime;
  width: 100%;
  text-align: center;
  }
  table{
    background-color: aquamarine;
    width: 100%;
    text-align: center;
  }